<!DOCTYPE html>



<html lang="en" dir="ltr">



<!-- <head>
<meta charset="UTF-8">

<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->
<!-- style="background: url(https://17155home.files.wordpress.com/2020/07/img_1104.jpg?w=1600&h=900&crop=1) no-repeat center center fixed;;
opacity: 1;" -->



<body>
    <div class="container" style="background: transparent;">
        <div class="title">Creditpro - AI Powered credit issuance system</div>
        <div class="content">
            <form action="#">
                <div class="user-details" style="background: transparent;">
                    <div class="input-box" style="background: transparent;">
                        <span class="details">Own'car
                        </span>
                        <!-- <label for="cars">Choose your Option:</label> -->



                        <select name="cars" id="cars" placeholder="YES or NO"
                            style="width: 100%; height: 75%; border-radius: 1.5mm;">
                            <option value="Choose your Option:">Choose your Option</option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>
                        <!-- <input type="text" placeholder="YES or NO" required> -->
                    </div>
                    <div class="input-box">
                        <span class="details">Own's Home</span>
                        <!-- <label for="cars">Choose your Option:</label> -->



                        <select name="cars" id="cars" placeholder="YES or NO"
                            style="width: 100%; height: 75%; border-radius: 1.5mm;">
                            <option value="selected">Choose your Option</option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>

                        </select>
                        <!-- <input type="text" placeholder="YES or NO" required> -->
                    </div>
                    <div class="input-box">
                        <span class="details">No of children</span>
                        <input type="number" placeholder="Please enter No of children" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Income Type</span>
                        <select name="IncomeType" id="IncomeType" placeholder="YES or NO"
                            style="width: 100%; height: 75%; border-radius: 1.5mm;">
                            <option value="value" selected>Choose your Option</option>
                                <option value="Commercial associate">Commercial associate</option>
                                <option value="Pensioner">Pensioner</option>
                                <option value="State servant">State servant </option>
                                <option value="Student">Student </option>
                                <option value="Working">Working </option>
                                <option value="Salaried">Salaried</option>
                                <option value="Self EMPLOYED">Self Emloyed</option>
                        </select>
                        <!-- <input type="number" placeholder="Please enter INCOME_TYPE" required> -->
                    </div>



                    <div class="input-box">
                        <span class="details">Education Type</span>
                        <select name="educationType" id="educationType" placeholder="YES or NO"
                            style="width: 100%; height: 75%; border-radius: 1.5mm;">
                            <option value="value" selected>Choose your Option</option>
                            <option value=0>Academic degree</option>
                            <option value=1>Higher education</option>
                            <option value=2>Incomplete higher</option>
                            <option value=3>Lower secondary </option>
                            <option value=4>Secondary / secondary special </option>

                        </select>
                        <!-- <input type="number" placeholder="Please enter INCOME_TYPE" required> -->
                    </div>
                    <div class="input-box">
                        <span class="details">Total Income
                        </span>
                        <input type="number" placeholder="Enter Total Income
" required>
                    </div>
                    <!-- <div class="input-box">
<span class="details">Education Type
</span>
<input type="number" placeholder="Enter Education Type
" required>
</div> -->
                    <div class="input-box">
                        <span class="details">Family Status</span>
                        <select name="IncomeType" id="IncomeType" placeholder="YES or NO"
                            style="width: 100%; height: 75%; border-radius: 1.5mm;">
                            <option value="value" selected>Choose your Option</option>
                            <option value="Civil marriage">Civil marriage</option>
                            <option value="Married">Married</option>
                            <option value="Separated">Separated</option>
                            <option value="Single / not married">Single / not married </option>
                            <option value="Widow">Widow </option>

                        </select>
                        <!-- <input type="number" placeholder="Please enter INCOME_TYPE" required> -->
                    </div>
                    <div class="input-box">
                        <span class="details">Family Members</span>
                        <input type="number" placeholder="Enter no. Family Members" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Housing Type</span>
                        <select name="IncomeType" id="IncomeType" placeholder="YES or NO"
                            style="width: 100%; height: 75%; border-radius: 1.5mm;">
                            <option value="value" selected>Choose your Option</option>
                            <option value="Co-op apartment">Co-op apartment</option>
                            <option value="House / apartment">House / apartment</option>
                            <option value="Muncipal apartment">Muncipal apartment </option>
                            <option value="Office apartment">Office apartment </option>
                            <option value="Rented apartment">Rented apartment </option>
                            <option value="with parents">with parents </option>

                        </select>
                        <!-- <input type="number" placeholder="Please enter INCOME_TYPE" required> -->
                    </div>
                    <div class="input-box">
                        <span class="details">Age</span>
                        <input type="number" placeholder="Enter your Age" required>
                    </div>
                    <div class="input-box" style="background: transparent;">
                        <span class="details">Gender
                        </span>
                        <!-- <label for="cars">Choose your Option:</label> -->

                        <select name="cars" id="cars" placeholder="YES or NO"
                            style=" height: 75%; border-radius: 1.5mm;">
                            <option value="value" selected>Choose your Option</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>

                        </select>
                        <!-- <input type="text" placeholder="YES or NO" required> -->
                    </div>
                    <div class="input-box">
                        <span class="details">Years Employed</span>
                        <input type="number" placeholder="Total No Of Years Employed" required>
                    </div>
                </div>


                <div class="button">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>